*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;
}

#navbar nav ul{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    gap:10px;
    list-style: none;
}

#navbar nav ul li a{
    text-decoration: none;
    color: black;
}

