*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

    /* border: 1px solid black; */
    /* position are of 3 types-<absolute, relative, fixed */

    position: fixed;
    /* top: 0px; */
    /* z-index set the priority */
    z-index: 100;
}

#navbar nav ul{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    gap:10px;
    list-style: none;
}

#navbar nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

#navbar nav ul li a:hover{

    color: rgb(250,127,99);
    font-size: 30px;
    text-decoration: underline;
}

#navbar div{
    display: flex;
    gap: 20px;
}

#navbar button{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    background-color: rgb(250,127,99);
    border: none;
    color:white;
    padding: 10px 20px 10px 20px;

    /*  */

    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to right orange,green,rgba(122, 28, 28, 0.845));
    /* colour value is from 0to 255 */
    /* rgba has intensity 0 to 1
    opaque is fourth parameter */
    /* svg format of image is best, it will not tear */
    /* to slow hover we use transition background color 0.2 ease; */
    transition all if we don't wan't to use single single property
    transform: scale: ();
    transform rotatate(360deg);
    transform:translate -> is used to move things;
    transform: translate()
    boxshadow: 10px 0px
    /* for y axis x axis add - to shift the shadow */

    




}

/* navbar css ends here */







