*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid black;
}

#navbar nav ul{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    gap:10px;
    list-style: none;
}

#navbar nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

#navbar nav ul li a:hover{

    color: rgb(250,127,99);
    font-size: 30px;
    text-decoration: underline;
}

#navbar div{
    display: flex;
    gap: 20px;
}

#navbar button{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    background-color: rgb(250,127,99);
    border: none;
    color:white;
    padding: 10px 20px 10px 20px;
}

